---
import Layout from '@/demoComponents/demoDoctor/layouts/Layout.astro';
import Header from '@/demoComponents/demoDoctor/Header.astro';
import Hero from '@/demoComponents/demoDoctor/Hero.astro';
import Treatments from '@/demoComponents/demoDoctor/Treatments.astro';
import Gallery from '@/demoComponents/demoDoctor/Gallery.astro';
import About from '@/demoComponents/demoDoctor/About.astro';
import Contact from '@/demoComponents/demoDoctor/Contact.astro';
import Footer from '@/demoComponents/demoDoctor/Footer.astro';
---

<Layout 
    title="Dr. Alejandro Mendoza - Board-Certified Plastic Surgeon" 
    description="High-quality plastic and reconstructive surgery in Mexico. Enhance your beauty with a certified expert."
    lang="en"
>
    <Header lang="en" />
    <main>
        <Hero lang="en" />
        <Treatments lang="en" />
        <Gallery lang="en" />
        <About lang="en" />
        <Contact lang="en" />
    </main>
    <Footer />
</Layout>
