---
import Layout from "@/components/demoFF/Layout.astro";
import CardsFF from "../../demoComponents/demoFF/CardsFF.astro";
import Carrusel from "../../demoComponents/demoFF/Carrusel.astro";
import Hero from "../../demoComponents/demoFF/Hero.astro";
import type { TMenu } from "@/demoComponents/demoFF/utils/types";
import menuService from "@/demoComponents/demoFF/service/menuServices";
import { navLinks } from "@/components/demoFF/Header.astro";

const Popular: TMenu[] = menuService
  .query()
  .sortBy("sortOrder", "asc")
  .limit(4)
  .get();

const shortMenu: TMenu[] = menuService.query().byTags(["hamburgesas"]).get();
---

<Layout title="Fast Burger - Inicio">
  <main>
    <Hero />
    <section id="popular" class="section container">
      <h2 class="section-title">Lo Más Popular</h2>
      <CardsFF promos={Popular} />
    </section>

    <Carrusel />

    <section id="menu-corto" class="section container">
      <h2 class="section-title">Nuestro Menú</h2>
      <CardsFF promos={shortMenu} />
      <div class="btn-container">
        <a href={navLinks.menu.href} class="btn">Ver Menú Completo</a>
      </div>
    </section>
  </main>
</Layout>
