---
import CardsFF from "@/components/demoFF/CardsFF.astro";
import Layout from "@/components/demoFF/Layout.astro";
import menuService from "@/demoComponents/demoFF/service/menuServices";
const FFPromoHamb = menuService.getIfExistPromo();
---

<Layout title="Promociones">
  <main>
    <section class="section container">
      <h1 class="section-title">Todas Nuestras Promociones</h1>
      <CardsFF promos={FFPromoHamb} hideWithoutPromotion={true}/>
    </section>
  </main>
</DemoFFLayout>

<style>
  section {
    margin-top: 30px;
  }

  /* ------------------------------------------------ */
  /* MEDIA QUERY PARA MÓVILES (Pantallas <= 600px)    */
  /* ------------------------------------------------ */
  @media (max-width: 600px) {
    .section-title {
      font-size: 2em;
      /* margin-bottom: 30px; */
      margin: 50px 2px 30px;
    }
  }
</style>
