---
import BannerBS from "@/demoComponents/demo-Bsalon/BannerBS.astro";
import ContactBS from "@/demoComponents/demo-Bsalon/ContactBS.astro";
import GalleryBS from "@/demoComponents/demo-Bsalon/GalleryBS.astro";
import HeroBS from "@/demoComponents/demo-Bsalon/HeroBS.astro";
import ServicesBS from "@/demoComponents/demo-Bsalon/ServicesBS.astro";
import DemoBSLayout from "@/demoComponents/demo-Bsalon/DemoBSalonLayout.astro";
import HeaderBS from '@/demoComponents/demo-Bsalon/HeaderBS.astro';
import FooterBS from '@/demoComponents/demo-Bsalon/FooterBS.astro';
import HomeBtn from "@/demoComponents/HomeBtn.astro";
---

<DemoBSLayout title="Demo Nails">
    <HeaderBS/>
    <main>
        <HeroBS/>
        <ServicesBS/>
        <BannerBS/>
        <GalleryBS/>
        <ContactBS/>
    </main>
    <HomeBtn/>
    <FooterBS/>
</DemoBSLayout>