---
import Layout from '@/demoComponents/demoNails/layouts/Layout.astro';
import Header from '@/demoComponents/demoNails/Header.astro';
import Hero from '@/demoComponents/demoNails/Hero.astro';
import About from '@/demoComponents/demoNails/About.astro';
import Services from '@/demoComponents/demoNails/Services.astro';
import Contact from '@/demoComponents/demoNails/Contact.astro';
import Footer from '@/demoComponents/demoNails/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>