---
import BannerBS from "../components/demo-Bsalon/BannerBS.astro";
import ContactBS from "../components/demo-Bsalon/ContactBS.astro";
import GalleryBS from "../components/demo-Bsalon/GalleryBS.astro";
import HeroBS from "../components/demo-Bsalon/HeroBS.astro";
import ServicesBS from "../components/demo-Bsalon/ServicesBS.astro";
import DemoNailsLayout from "../layouts/DemoNailsLayout.astro";
import HeaderBS from '../components/demo-Bsalon/HeaderBS.astro';
import FooterBS from '../components/demo-Bsalon/FooterBS.astro';
---

<DemoNailsLayout title="Demo Nails">
    <HeaderBS/>
    <main>
        <HeroBS/>
        <ServicesBS/>
        <BannerBS/>
        <GalleryBS/>
        <ContactBS/>
    </main>
    <FooterBS/>
</DemoNailsLayout>