---
import menuService from "@/components/demoFF/service/menuServices";
import CardsFF from "../../components/demoFF/CardsFF.astro";
import Layout from "@/components/demoFF/Layout.astro";
import { tags, type TMenu } from "@/components/demoFF/utils/types";

const menu: { title: string; menu: TMenu[] }[] = tags.type.map(type=>({
  title: type.charAt(0).toUpperCase() + type.slice(1), // Capitalize the first letter for display
  menu: menuService.getByType({ types: [type] }).sort((a, b) => a.sortOrder - b.sortOrder)
}));
// [
//   {
//     title: "Comidas",
//     menu: menuService
//       .query(menuService.getByType({ types: ["comida"] }))
//       .sortBy("sortOrder", "asc")
//       .get(),
//   },
//   {
//     title: "Complementos",
//     menu: menuService
//       .query(menuService.getByType({ types: ["complementos"] }))
//       .sortBy("sortOrder", "asc")
//       .get(),
//   },
//   {
//     title: "Bebidas",
//     menu: menuService
//       .query(menuService.getByType({ types: ["bebidas"] }))
//       .sortBy("sortOrder", "asc")
//       .get(),
//   },
// ];

// const FFMenuHamburguesas = menuService.query().byTags(["hamburgesas"]).get();
// const FFMenuComplementos = menuService.query().byTags(["complementos"]).get();
---

<Layout title="Menú Completo">
  <main>
    <section class="section container">
      <h1 class="section-title">Nuestro Menú</h1>
      {
        menu.map(({ title, menu }) => (
          <>
            <h2>- {title} -</h2>
            <CardsFF promos={menu} />
          </>
        ))
      }
      <!-- <h2>- Hamburguesas -</h2>
      <CardsFF promos={FFMenuHamburguesas} />

      <h2>- Complementos -</h2>
      <CardsFF promos={FFMenuComplementos} /> -->
    </section>
  </main>
</Layout>

<style>
  section {
    margin-top: 30px;
  }

  h2 {
    color: var(--accent-yellow);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Tabletas y Móviles grandes (hasta 768px) */
  @media (max-width: 768px) {
    .section-title {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.8em;
      margin-top: 40px;
      text-align: center;
    }
  }

  /* Móviles (hasta 480px) */
  @media (max-width: 480px) {
    .section-title {
      font-size: 2em;
    }

    h2 {
      font-size: 1.8em;
      margin-top: 40px;
      text-align: center;
    }
  }
</style>
