---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Promociones">
	<main>
		<section class="section container">
			<h1 class="section-title" style="margin-top: 100px;">Todas Nuestras Promociones</h1>
			<div class="grid">
				<img src="https://picsum.photos/id/106/400/400" alt="Promoción 1" style="width:100%; height:auto; border-radius: 8px;" />
				<img src="https://picsum.photos/id/107/400/400" alt="Promoción 2" style="width:100%; height:auto; border-radius: 8px;" />
				<img src="https://picsum.photos/id/108/400/400" alt="Promoción 3" style="width:100%; height:auto; border-radius: 8px;" />
				<img src="https://picsum.photos/id/109/400/400" alt="Promoción 4" style="width:100%; height:auto; border-radius: 8px;" />
				<img src="https://picsum.photos/id/110/400/400" alt="Promoción 5" style="width:100%; height:auto; border-radius: 8px;" />
				<img src="https://picsum.photos/id/111/400/400" alt="Promoción 6" style="width:100%; height:auto; border-radius: 8px;" />
			</div>
		</section>
	</main>
</Layout>