---
import "../../styles/beautySalon.css";
---

<section class="banner" id="banner">
  <div class="banner-content">
    <h1>La belleza comienza en el momento en que decides cuidarte.</h1>
    <p>
      En nuestro salón de belleza nos especializamos en resaltar lo mejor de ti.
      Desde cortes modernos y coloración profesional, hasta tratamientos
      capilares, maquillaje y cuidado de uñas, ofrecemos una experiencia
      completa para que te sientas segura, radiante y única. Porque la verdadera
      belleza está en los detalles, y nuestro objetivo es que cada visita sea un
      momento para consentirte.
    </p>
  </div>
</section>