---
import "../../styles/beautySalon.css";
---

<section class="gallery section" id="galeria">
  <div class="container">
    <h2 class="section-title">Nuestra Galería</h2>
    <div class="carousel-container">
      <div class="carousel-track">
        <img src="/assets/img/BSImg/img-reference/E-1.jpg" alt="Trabajo 1" />
        <img src="/assets/img/BSImg/img-reference/E-2.jpg" alt="Trabajo 2" />
        <img src="/assets/img/BSImg/img-reference/E-3.jpg" alt="Trabajo 3" />
        <img src="/assets/img/BSImg/img-reference/E-4.jpg" alt="Trabajo 4" />
        <img src="/assets/img/BSImg/img-reference/E-5.jpg" alt="Trabajo 5" />
        <img src="/assets/img/BSImg/img-reference/E-6.jpg" alt="Trabajo 6" />
        <img src="/assets/img/BSImg/img-reference/E-1.jpg" alt="Trabajo 1" />
        <img src="/assets/img/BSImg/img-reference/E-2.jpg" alt="Trabajo 2" />
        <img src="/assets/img/BSImg/img-reference/E-3.jpg" alt="Trabajo 3" />
        <img src="/assets/img/BSImg/img-reference/E-4.jpg" alt="Trabajo 4" />
        <img src="/assets/img/BSImg/img-reference/E-5.jpg" alt="Trabajo 5" />
        <img src="/assets/img/BSImg/img-reference/E-6.jpg" alt="Trabajo 6" />
      </div>
    </div>
  </div>
</section>
