---
import "../../styles/beautySalon.css";
---

<section class="hero" id="hero">
  <div class="hero-content">
    <h1>Tu Estilo, Nuestra Pasión.</h1>
    <p>
      Expertos en cabello que transforman tu look y realzan tu belleza natural.
    </p>
    <a href="#contacto" class="btn">Agenda tu Cita</a>
  </div>
</section>
