---
import "../../styles/beautySalon.css";
---

<section class="services section" id="servicios">
  <div class="container">
    <h2 class="section-title">Nuestros Servicios</h2>
    <div class="services-grid">
      <div class="service-item">
        <img src="/assets/BSImg/corte.jpg" alt="Corte" />
        <h3>Corte</h3>
        <p>Dama, caballero, niños.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/tinte.jpg" alt="Coloración" />
        <h3>Coloración</h3>
        <p>
          Tinte, retoque, alta y media decoloración, mechas, balayage,
          highlights.
        </p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/tratamiento.jpg" alt="Tratamientos Capilares" />
        <h3>Tratamientos</h3>
        <p>Hidratación y reparación, keratina, botox capilar.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/depilacion.jpg" alt="Depilación" />
        <h3>Depilación</h3>
        <p>Facial, ceja, bozo.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/peinados.jpg" alt="Peinado" />
        <h3>Peinado</h3>
        <p>Alaciado, curly, recogido, semirecogido, eventos, bodas, fiestas.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/maquillaje.jpg" alt="Maquillaje" />
        <h3>Maquillaje profesional</h3>
        <p>Para eventos, novias, etc.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/cejas-pestañas.jpg" alt="Cejas y pestañas" />
        <h3>Cejas y pestañas</h3>
        <p>Diseño, microblading, lifting, extensiones.</p>
      </div>
      <div class="service-item">
        <img src="/assets/BSImg/uñas.jpg" alt="Uñas" />
        <h3>Uñas</h3>
        <p>Manicure, pedicure, uñas acrílicas, gelish, personalizados.</p>
      </div>
    </div>
  </div>
</section>
