---
import { Image } from "astro:assets";
import { img, type TImage } from "./repository/imgRepository";

const servicesData: { title: string; img: TImage; description: string }[] = [
  {
    title: "Corte",
    description: "Dama, caballero, niños.",
    img: img.corteImg,
  },
  {
    title: "Coloración",
    description:
      "Tinte, retoque, alta y media decoloración, mechas, balayage, highlights.",
      img: img.tinteImg,
  },
  {
    title: "Tratamientos",
    description: "Hidratación y reparación, keratina, botox capilar.",
    img: img.tratamientoImg,
  },
  {
    title: "Depilación",
    description: "Facial, ceja, bozo.",
    img: img.depilacionImg,
  },
  {
    title: "Peinado",
    description:
      "Alaciado, curly, recogido, semirecogido, eventos, bodas, fiestas.",
    img: img.peinadosImg,
  },
  {
    title: "Maquillaje profesional",
    description: "Para eventos, novias, etc.",
    img: img.maquillajeImg,
  },
  {
    title: "Cejas y pestañas",
    description: "Diseño, microblading, lifting, extensiones.",
    img: img.cejasPestanasImg,
  },
  {
    title: "Uñas",
    description: "Manicure, pedicure, uñas acrílicas, gelish, personalizados.",
    img: img.unasImg,
  },
];
---

<section class="services section" id="servicios">
  <div class="container">
    <h2 class="section-title">Nuestros Servicios</h2>
    <div class="services-grid">
      {
        servicesData.map((service) => (
          <div class="service-item">
            <Image
              src={service.img.src}
              alt={service.img.alt}
              width={300}
              height={200}
              widths={[400, 800]}
              sizes="(max-width: 1024px) 90vw, 40vw"
              quality="mid"
              loading="lazy"
              decoding="async"
            />
            <h3>{service.title}</h3>
            <p>{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .services-grid {
    display: grid;
    gap: 30px;
  }

  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .services-grid h3 {
    color: #f28482;
  }
  .service-item :global(img) {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
</style>
